/* Import Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Global styles */
html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--white);
    background-color: var(--secondary-color);
}

:root {
    --primary-color: #f8f208;
    --primary-color-dark: #ee9821;
    --secondary-color: #04091d;
    --secondary-color-light: #0f1221;
    --secondary-color-dark: #03060f;
    --text-light: #94a3b8;
    --white: #ffffff;
    --max-width: 1200px;
    --gradient: linear-gradient(to right, var(--primary-color-dark), var(--primary-color));
}

/* Global styles with transition */
* {
    box-sizing: border-box;
    /* transition: all 0.5s ease-in-out; */
}

/* Specific section container styles */
.section__container {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Header styles */
.header {
    position: relative;
    background-color: var(--secondary-color-dark);
}

.header__container {
    padding-top: 10rem;
    gap: 4rem;
}

.header__image img {
    max-width: 400px;
    margin: auto;
}

.header__content {
    text-align: center;
}

.header__content h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__content h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
    transform: translateY(-40%);
    line-height: 3.5rem;
}

.header__content p {
    margin-bottom: 2rem;
    color: var(--text-light);
}
