@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.section__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: container 1s;
    text-align: center;
}

@keyframes container {
    0% {
        opacity: 0.5;
        /* transform: translateY(-20px); */
    }
    50% {
        /* opacity: 0.5; */
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400; /* Use 500, 600, 700 as needed for different elements */
    position: relative;
   
}

